<app-search></app-search>
<app-tag></app-tag>
<ul>
  <li *ngFor="let food of foods; let i = index">
    <a (click)="toSinglePage(food._id)"><img src="{{imagePath+food.foodimg}}" alt="" />

      <div class="content">
        <div class="name">
          {{ food.foodname}}
        </div>
        <!-- <span class="favorite {{ food.favorite ? '' : 'not' }}">&#9825;</span> -->
        <div class="product-item-footer">
          <!-- <div class="origins">
            <span *ngFor="let origin of food.origins">{{ origin }}</span>
          </div> -->
          <div class="cook-time">
            &#9202;
            <span> {{ food.foodtime}}M </span>
          </div>
        </div>
        <div class="price">
          <span>{{ food.price | currency }}</span>
        </div>
      </div>
    </a>
  </li>
</ul>