<div class="container mt-3">
  <div class="header">
    <h3>Login</h3>
  </div>
  <div class="row">
    <form [formGroup]="userReg">
      <div class="col-md-6 border p-1">
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            placeholder="name@example.com"
            formControlName="email"
          />
          <div
            *ngIf="
              userReg.get('email')?.invalid && userReg.get('email')?.touched
            "
            class="text-danger"
          >
            <small *ngIf="userReg.get('email')?.hasError('required')"
              >Email is required.</small
            >
            <small *ngIf="userReg.get('email')?.hasError('email')"
              >Please enter a valid email.</small
            >
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
          <div
            *ngIf="
              userReg.get('password')?.invalid &&
              userReg.get('password')?.touched
            "
            class="text-danger"
          >
            <small *ngIf="userReg.get('password')?.hasError('required')"
              >Password is required.</small
            >
            <small *ngIf="userReg.get('password')?.hasError('minlength')"
              >Password must be at least 6 characters long.</small
            >
          </div>
        </div>
        <div class="mb-3 text-end">
          <button
            class="btn btn-primary"
            (click)="save()"
            [disabled]="!userReg.valid"
          >
            Submit
          </button>
        </div>
        <div class="text-start">
          <a routerLink="/res">new user</a>
        </div>
      </div>
    </form>
  </div>
</div>
