<div class="container">
  <ul>
    <li *ngFor="let cartItem of cartDetails">
      <div>
        <img src="{{imagePath+cartItem.foodimg }}" alt="{{cartItem.foodname}}" />
      </div>
      <div>
        <a>{{
          cartItem.foodname
          }}</a>
      </div>
      <div>
        <select #quantitySelect (change)="changeQuantity(cartItem, quantitySelect.value)">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div>
        {{ cartItem.price | currency }}
      </div>
      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem._id)">
          Remove
        </button><br>
        <a>Qty 1</a>
      </div>
    </li>
  </ul>
  <div class="checkout">
    <div class="food-count">
      {{cartDetails.length}}
    </div>
    <div class="food-price">
      {{totalPrice | currency}}
    </div>
    <a routerLink="/checkout">Procced To Checkout</a>
  </div>
</div>